@page "/counter"
@inject NavigationManager navigationManager
@inject ExampleJsInterop sharedJsInterop
<h1>Shared Counter</h1>

<p>Shared Current count: @currentCount</p>

<MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" />
<MudButton Variant="Variant.Filled" Color="Color.Primary">Execute Tests</MudButton>

<button class="btn btn-primary" @onclick="NavigateToComponent1">Navigate</button>
<button class="btn btn-primary" @onclick="NavigateToComponent2">Test Shared Interop</button>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<ul>
    <li draggable="true" @ondragstart="OnDragStart" style="background-color:blue;color:white;width:50px;height:50px;">drag me</li>
</ul>

<div dropzone="move" @ondrop="OnDrop" ondragover="event.preventDefault();" style="background-color:green;color:white;width:200px;height:200px;">
    and drop me here
</div>

<div>@DragState</div>

@code {
    public string DragState = "waiting...";

    public void OnDragStart(DragEventArgs dragEventArgs)
    {
        DragState = "drag started";
    }

    public void OnDrop(DragEventArgs dragEventArgs)
    {
        if (dragEventArgs.DataTransfer?.Files != null)
        {
            DragState = "item dropped";
            foreach (var file in dragEventArgs.DataTransfer?.Files)
            {
                DragState = $"file dropped: {file}";
            }
        } else {
            DragState = "no item dropped";
        }
        //DragState = "item dropped";
    }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    
    private void NavigateToComponent1()
    {
        navigationManager.NavigateTo("/component1");
    }
    private async void NavigateToComponent2()
    {
        string result = await sharedJsInterop.Prompt("Hello from Blazor");
        System.Console.WriteLine(result);

    }
}